<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet", href="./css/styles.css">
        <script src="./js/app.js"></script>
    </head>
    <body>
        {{> header}}
        {{> footer}}
        <h4>
            {{msg}}
            </br>
            <i>
                {{date}}
            </i>
        </h4>
        <p>
            Adriana smells nice today!!!!!
        </p>
        <img src="./img/pngimg.com - simpsons_PNG95.png">
        </body>
    </body>
</html>