<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet", href="./css/styles.css">
    </head>
    <body>
            {{> header}}
            {{> footer}}
        <h1>
            {{help}}
        </h1>
    </body>
</html>