<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FAE7C9;
   color: #706233;
   text-align: center;
}
</style>

<div class="footer">
  <p>created by: {{name}}</p>
</div>