<style>
.header {
   position: sticky;
   left: 0;
   top: 0;
   width: 100%;
   background-color: #706233;
   color: #FAE7C9;
   text-align: center;
}
</style>

<div class="header">
    <p>this is a test</p>
    <a href="/help">help</a>
    <a href="/about">about</a>
    <a href="/index">index</a>
</div>
